footer {
    display: flex;
    justify-content: center;
    padding: 20px;
}

footer div {
    display: flex;
    justify-content: space-between;
    gap: 40px; /* Espaciado uniforme entre los logos */
    width: 100%; /* Ajusta según necesites */
    max-width: none; /* Evita que se extienda demasiado en pantallas grandes */
}

footer img {
    height: 40px;
    width: 100px;
}