body {
    font-family: 'Inter', sans-serif;
    background-color: #F5F5F5;
}
.cube {
    width: 16px;
    height: 16px;
    background: linear-gradient(45deg, #000 25%, transparent 25%, transparent 75%, #000 75%, #000),
                linear-gradient(45deg, #000 25%, transparent 25%, transparent 75%, #000 75%, #000);
    background-size: 8px 8px;
    background-position: 0 0, 4px 4px;
}
.bg-green-creme {
    background-color: #d4f4e0;
}
.bg-green-light {
    background-color: #BBFADB;
}

.logins{
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 20px;
}

.login {
    font-size: 16px;
    color: black;
    text-decoration: none;
}

.button {
    display: flex;
    align-items: center;
    background-color: #00ff66;
    color: black;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 16px;
}

.button svg {
    margin-left: 8px;
    width: 16px;
    height: 16px;
}

nav {
    display: flex;
    gap: 20px; /* Espaciado entre los enlaces */
}

nav a {
    color: #484848; /* Color del texto */
    text-decoration: none; /* Eliminar subrayado */
    font-size: 16px; /* Tamaño de fuente */
}