body {
    font-family: 'Inter', sans-serif;
    background-color: #F5F5F5;
}
.cube {
    width: 16px;
    height: 16px;
    background: linear-gradient(45deg, #000 25%, transparent 25%, transparent 75%, #000 75%, #000),
                linear-gradient(45deg, #000 25%, transparent 25%, transparent 75%, #000 75%, #000);
    background-size: 8px 8px;
    background-position: 0 0, 4px 4px;
}
.bg-green-creme {
    background-color: #d4f4e0;
}
.bg-green-light {
    background-color: #BBFADB;
}
